*
{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

nav
{
  margin-bottom: 10px;
}

nav img
{
  max-width: 15vw;
}
.containerMenu
{
  background-color: rgb(155, 155, 155);
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 10px;
}
.containerMenu a
{
  display: block;
  margin: 10px 2px;
} 

.main
{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
}
.containerInfo
{
  margin-bottom: 30px;
}
.logo
{
  width: 80px;
}
footer
{
  background-color: rgb(155, 155, 155);;
  text-align: center;
}